nodeflows.json
[{"id":"d7555c9e.19696","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8be30158.b60c6","type":"ibmiot in","z":"d7555c9e.19696","authentication":"apiKey","apiKey":"dcecd939.7f4758","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"HR1702","applicationId":"","deviceType":"intership","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":180,"wires":[["9a0a46b.d2759b8","963bcec5.66efc","ef7faf0c.02b1"]]},{"id":"9a0a46b.d2759b8","type":"function","z":"d7555c9e.19696","name":"Temperature","func":"global.set('t', msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":100,"wires":[["ba006e8d.7dfb9","b8cd47aa.01b958"]]},{"id":"963bcec5.66efc","type":"function","z":"d7555c9e.19696","name":"Humidity","func":"global.set('h', msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":180,"wires":[["ba006e8d.7dfb9","34cb42fc.128dde"]]},{"id":"d122a837.913388","type":"http in","z":"d7555c9e.19696","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":270,"y":320,"wires":[["84aaca33.ed8288"]]},{"id":"bb1798a4.f8c9b8","type":"http response","z":"d7555c9e.19696","name":"","statusCode":"","headers":{},"x":730,"y":320,"wires":[]},{"id":"84aaca33.ed8288","type":"function","z":"d7555c9e.19696","name":"","func":"msg.payload = {\n    \"Temperature\" : global.get('t'),\n    \"Humidity\" : global.get('h'),\n    \"Waterlevel\" : global.get('w')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["bb1798a4.f8c9b8"]]},{"id":"8f362b43.9c4628","type":"ibmiot out","z":"d7555c9e.19696","authentication":"apiKey","apiKey":"dcecd939.7f4758","outputType":"evt","deviceId":"HR1702","deviceType":"internship","eventCommandType":"cmd","format":".json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":620,"wires":[]},{"id":"3fbd3905.4922b6","type":"ui_button","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":16,"width":7,"height":1,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":320,"y":420,"wires":[["8f362b43.9c4628","b8de1d4.8c0fce"]]},{"id":"62493de1.6af324","type":"ui_button","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":17,"width":7,"height":1,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":310,"y":460,"wires":[["8f362b43.9c4628","b8de1d4.8c0fce"]]},{"id":"8159fcbb.5b4b5","type":"ui_button","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":18,"width":7,"height":1,"passthru":false,"label":"FAN ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"fanon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":270,"y":500,"wires":[["8f362b43.9c4628","b8de1d4.8c0fce"]]},{"id":"e5cd57b5.eec598","type":"ui_button","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":19,"width":7,"height":1,"passthru":false,"label":"FAN OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"fanoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":270,"y":540,"wires":[["8f362b43.9c4628","b8de1d4.8c0fce"]]},{"id":"27e4b2fa.6edf0e","type":"ui_button","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":20,"width":7,"height":1,"passthru":false,"label":"WATERPUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"waterpumpon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":320,"y":620,"wires":[["8f362b43.9c4628","b8de1d4.8c0fce"]]},{"id":"e3bf3a4a.cb96b8","type":"ui_button","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":21,"width":7,"height":1,"passthru":false,"label":"WATERPUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"waterpumpoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":320,"y":700,"wires":[["8f362b43.9c4628","b8de1d4.8c0fce"]]},{"id":"abe17115.a4bbc","type":"http in","z":"d7555c9e.19696","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":260,"y":840,"wires":[["2dff6f43.394b5","8f362b43.9c4628","b8de1d4.8c0fce"]]},{"id":"2dff6f43.394b5","type":"http response","z":"d7555c9e.19696","name":"","statusCode":"","headers":{},"x":730,"y":860,"wires":[]},{"id":"ba006e8d.7dfb9","type":"debug","z":"d7555c9e.19696","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":20,"wires":[]},{"id":"ef7faf0c.02b1","type":"function","z":"d7555c9e.19696","name":"Waterlevel","func":"global.set('w', msg.payload.d.waterlevel)\nmsg.payload = msg.payload.d.waterlevel\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":240,"wires":[["ba006e8d.7dfb9","5ac3e0e8.b2f1a"]]},{"id":"b8de1d4.8c0fce","type":"debug","z":"d7555c9e.19696","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":460,"wires":[]},{"id":"34cb42fc.128dde","type":"ui_gauge","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":2,"width":7,"height":5,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":180,"wires":[]},{"id":"b8cd47aa.01b958","type":"ui_gauge","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":1,"width":7,"height":5,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"125","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":100,"wires":[]},{"id":"5ac3e0e8.b2f1a","type":"ui_gauge","z":"d7555c9e.19696","name":"","group":"b44247d7.b33718","order":5,"width":7,"height":5,"gtype":"gage","title":"Water level","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":240,"wires":[]},{"id":"dcecd939.7f4758","type":"ibmiot","name":"APIkey","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b44247d7.b33718","type":"ui_group","name":"sensor","tab":"3d75db7f.a9b174","order":1,"disp":true,"width":14,"collapse":false},{"id":"3d75db7f.a9b174","type":"ui_tab","name":"smart farm","icon":"dashboard","disabled":false,"hidden":false}]